.require {
  color: #eb5451;
  position: relative;
  left: -10px;
  margin-right: -8px;
}

.rank {
  color: #3d4757;
  font-family: Arial;
  font-size: 14px;
  font-weight: 700;
  display: inline-block;
}

.question_title {
  display: inline-block;
  text-indent: 10px;
  color: #3d4757;
  font-family: Arial;
  font-size: 14px;
  font-weight: 700;
}

.res {
  color: #3d4757;
  font-size: 14px;
  padding: 15px 0;
}

.input_box {
  margin-top: 10px;
  width: 100%;
  border-bottom: 1px solid rgba(25, 55, 88, .1);

  .input {
    color: #3d4757;
    font-size: 14px;
  }
}

.input_box:hover {
  border-bottom: 1px solid #1890ff;
}

.multi {
  color: #3d4757;
  font-size: 14px;
  padding: 15px 0 0px 0;
}

.star_box {
  font-size: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;

  .star {
    width: 18px;
    height: 18px;
    margin-right: 2px;
  }
}

.nodata {
  color: #c0c6cf;
  font-size: 14px;
  margin-top: 10px;
}