.title {
  font-size: 20px;
  text-align: center;
  color: #3d4757;
  font-weight: 700;
  margin-top: 20px;
}

.subTitle {
  text-align: center;
  margin: 40px 0;
}

.question {
  padding: 24px 0;
}

.disable_btn_box {
  width: 92px;
  margin: 0 auto;
}