.question {
  padding: 24px 0;
}

.line {
  width: 100%;
  height: 1px;
  background-color: #e7e9eb;
  margin-top: 20px;
}

.time {
  color: #767c85;
  margin-top: 15px;
}

.title {
  color: #3d4757;
  font-size: 20px;
  text-align: center;
  margin-top: 40px;
}